* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  background: #f0ecee;
  padding: 10px;
}

nav {
  margin: 10px 0;
}

li {
  list-style: none;
}

a {
  color: #88898b;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  background: #ccc;
  border-radius: 10px;
  padding: 15px;
  color: #ff4850;
}

button {
  margin: 20px 0;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #ff4850;
  color: white;
  width: 100%;
  font-size: 15px;
}

button:hover {
  background: #ccc;
  color: #ff4850;
}

span {
  color: #ff4850;
}

#question {
  font-weight: 600;
  font-size: 35px;
  margin: 20px 0;
}

#buddy {
  color: #88898b;
}

@media screen and (min-width: 768px) {
  body {
    background: url(/assets/bulldog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    margin: 0 10px;
  }

  ul {
    display: flex;
    align-items: center;
  }

  #find-out {
    width: 45%;
    margin: 100px 0 0 0;
  }

  button {
    width: auto;
  }
}
