* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  background: #f0ecee;
}

nav {
  margin: 10px 0;
}

li {
  list-style: none;
}

a {
  color: #88898b;
  text-decoration: none;
}

button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  background: #ff4850;
  color: white;
  width: 100%;
}

span {
  color: #ff4850;
}

.question {
  font-weight: 600;
  font-size: 40px;
}
/* @media screen and (min-width: 768px); */
